model_config_list {
  config {
    name: 'half_plus_two'
    base_path: '/models/half_plus_two/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'half_plus_ten'
    base_path: '/models/half_plus_ten/'
    model_platform: 'tensorflow'
    model_version_policy {
      specific {
        versions: 1
        versions: 2
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
    version_labels {
      key: 'canary'
      value: 2
    }
  }
}
